<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--    <configSections>-->
<!--        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
<!--    </configSections>-->
<!--    <connectionStrings>-->
<!--        <add name="PostgreSQL" providerName="Npgsql" connectionString="Host=localhost;Username=postgres;Password=postgres;Database=piotrsamples" />-->
<!--    </connectionStrings>-->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!--    <entityFramework>-->
<!--        <providers>-->
<!--            <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />-->
<!--        </providers>-->
<!--        <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />-->
<!--    </entityFramework>-->
<!---->
<!---->
<!--    <system.data>-->
<!--        <DbProviderFactories>-->
<!--            <add name="Npgsql Data Provider"-->
<!--                 invariant="Npgsql"-->
<!--                 description="Data Provider for PostgreSQL"-->
<!--                 type="Npgsql.NpgsqlFactory, Npgsql"-->
<!--                 support="FF" />-->
<!--        </DbProviderFactories>-->
<!--    </system.data>-->
<!---->
<!--    <providers>-->
<!--        <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />-->
<!--    </providers>-->

</configuration>